* {
  outline: none;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-tap-highlight-color: transparent;  
}

button {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #222;
}

.playbar {
  background-color: #1d1d1d;
}

.main-menu > button, .my-playlists > button {
  text-align: left;
  padding-left: 15px;
}

.main-menu > button {
  font-size: 14px;
  letter-spacing: 2px;
}

.my-playlists > button {
  color: #aaa;
}

.add-here {
  border: 1px solid #444;
  border-radius: 50%;
}

.chosen {
  background-color: #1DB954;
}

.add-playlists > button {
  background-color: #1DB954;
  border-radius: 15px;
  margin: 2px;
  margin-left: 14px;
  margin-right: 14px;
}

.playbar h1 {
  color: white;
  font-size: 15px;
  font-family: arial;
}

.song-authors {
  font-size: 13px;
  font-family: arial;
  color: white;
  pointer-events: none;
}

.menu {
  background-color: #111;
}

input[type='range'] {
  overflow: hidden;
  width: 400px;
  border-radius: 15px;
  -webkit-appearance: none;
  background-color: #333;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  width: 2px;
  -webkit-appearance: none;
  box-shadow: -475px 0 0 475px #1DB954;
}

.playlist > h1 {
  font-size: 70px;
  color: white;
}

.playlist-info {
  color: white;
}

.playlist-info > h2 {
  font-size: 16px;
  letter-spacing: 3px;
}

.playlist-info > h1 {
  font-size: 50px;
}

.playlist-controls {
  margin: 0;
  display: flex;
  flex-basis: 50px;
}

.round {
  width: 50px;
  height: 50px;
  background-color: #1DB954;
  margin-right: 20px;
  border-radius: 50%;
  transition: .5s;
}

.round:hover, .title > button:hover {
  transform: scale(1.05);
  background-color: #3DD974;
}

.transparent {
  background-color: transparent;
  font-size: 20px;
}

.tracks-list {
  margin-top: 65px;
  margin-bottom: 30px;
}

.track-in {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 50px;
}

.track {
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
}

.track > button {
  flex-basis: 75px;
}

.track > img {
  flex-basis: 50px;
  width: 50px;
}

.track > div {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% - 320px);
}

.track > div > p {
  padding-top: 5px;
  flex: 1;
  margin: 0;
  font-size: 16px;
}

.track > div > h1 {
  flex: 1;
  padding-top: 5px;
  margin: 0;
  font-size: 18px;
}

.track > h2 {
  text-align: center;
  padding-top: 18px;
  flex: 1;
  margin: 0;
  font-size: 15px;
}

.content {
  background-color: #161616;
}

.content > input {
  border-radius: 16px;
  padding-left: 45px;
}

.back {
  filter: blur(100px);
}

.front {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.top-bar {
  background-color: #1f1f1f;
}

.best-result > div {
  background-color: #1b1b1b;
}

.best-result > p, .tracks-list > p, .linear-list > h1 {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.best-result > div > img {
  border-radius: 10px;
}

.best-result > div > h1 {
  font-size: 40px;
  color: white;
}

.best-result > div > p {
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
}

@media screen and (max-width: 1350px) {
  .best-result > div > h1 {
    top: 240px;
    font-size: 30px;
  }
}

@media screen and (max-width: 950px) {
  input[type='range'] {
    width: 100%;
    border-radius: 0;
  }

  .playlist-controls {
    margin-left: 40px;
  }

  .content > input {
    border-radius: 0;
    color: #aaa;
    background-color: #222;
  }

  .main-menu > button {
    text-align: center;
  }

  .my-playlists > button {
    font-size: 18px;
  }

  .playlist-info {
    text-align: center;
  }

  .top-bar > h1 {
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    padding-top: 10px;
    text-align: center;
  }

  .best-result > div > h1 {
    top: 245px;
    font-size: 22px;
  }

  .in-playlist {
    margin-top: 240px;
  }

  .track > div > h1, .track > div > p {
    font-size: 13px;
    width: 110px;
  }
}
