body {
  background-color: black;
}

.playbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.playbar img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
}

.playbar h1 {
  position: absolute;
  top: 27px;
  left: 90px;
}

.song-authors {
  position: absolute;
  top: 45px;
  left: 90px;
}

.controls {
  position: absolute;
  top: 15px;
  width: 24px;
  height: 24px;
}

.rewind-backwards {
  left: calc(50% - 52px);
}

.toggle-playback {
  left: calc(50% - 12px);
}

.rewind-forewards {
  left: calc(50% + 24px);
}

.current-time {
  left: calc(50% - 246px);
}

.duration {
  left: calc(50% + 220px);
}

.playbar > input {
  position: absolute;
  width: 400px;
  left: calc(50% - 200px);
  height: 5px;
  bottom: 30px;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: calc(100% - 100px);
}

.content {
  display: flex;
  overflow: auto;
  flex-direction: column;
  position: fixed;
  left: 250px;
  top: 0;
  width: calc(100% - 250px);
  height: calc(100% - 100px);
  animation: startup 1s;
}

.content > input {
  width: 250px;
  margin-top: 15px;
  margin-left: 30px;
  height: 35px;
}

.content > input::-webkit-search-cancel-button{
  padding-right: 10px;
  filter: invert(.5);
}

.back {
  width: 100%;
  height: 200px;
}

.front {
  position: absolute;
  left: 35px;
  top: 25px;
  width: 200px;
}

.playlist-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 260px;
  top: 75px;
  width: 450px;
  height: 150px;
}

.playlist-info > h2 {
  margin: 0;
  flex-basis: 30px;
}

.playlist-info > h1 {
  margin: 0;
  flex-basis: 70px;
}

.playlist-controls {
  margin: 0;
  display: flex;
}

.main-menu {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 10px;
  width: 250px;
  height: 80px;
}

.main-menu > button {
  margin: 3px;
  flex-basis: 30px;
}

.my-playlists {
  position: fixed;
  overflow: auto;
  top: 95px;
  width: 250px;
  height: calc(100% - 245px);
}

.my-playlists > button {
  font-size: 15px;
  width: 240px;
  height: 30px;
  position: relative;
  margin: 2px;
}

.add-here {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 10px;
  height: 10px;
}

.add-playlists {
  position: absolute;
  top: calc(100% - 40px);
  height: 30px;
  width: 100%;
  display: flex;
}

.add-playlists > button {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.top-bar {
  position: fixed;
  top: -70px;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
}

.results {
  position: absolute;
  top: 75px;
  width: 100%;
}

.best-result {
  width: 45%;
  height: 420px;
}

.best-result > div {
  position: absolute;
  top: 75px;
  left: 30px;
  width: calc(45% - 30px);
  height: 350px;
  border-radius: 30px;
}

.best-result > p, .tracks-list > p, .linear-list > h1 {
  position: absolute;
  left: 30px;
  top: -10px;
}

.tracks-list > p {
  top: -75px;
}

.linear-list {
  position: relative;
  top: 50px;
  height: 370px;
}

.linear-list > div {
  position: absolute;
  left: 30px;
  width: calc(100% - 60px);
  top: 60px;
  height: 260px;
  cursor: pointer;
}

.best-result > div > img {
  position: absolute;
  top: 40px;
  left: 30px;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.best-result > div > h1 {
  position: absolute;
  top: 220px;
  left: 30px;
}

.best-result > div > p {
  position: absolute;
  top: 295px;
  left: 30px;
}

.best-result > div > button {
  position: absolute;
  top: 235px;
  left: calc(100% - 120px);
  width: 70px;
  height: 70px;
}

.small {
  position: absolute;
  top: 0;
  left: 45%;
  width: 55%;
}

.sign-out {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 150px;
  height: 15px;
}

@media screen and (max-width: 1350px) {
  .best-result {
    width: 100%;
    height: 420px;
  }

  .best-result > div {
    width: calc(100% - 60px);
  }

  .small {
    position: relative;
    top: 35px;
    left: 0%;
    width: 100%;
  }

  .best-result > div > h1 {
    top: 245px;
    font-size: 25px;
  }

  .best-result > div > button {
    left: calc(100% - 120px);
    width: 50px;
    height: 50px;
    top: 250px;
  }
}

@media screen and (max-width: 950px) {
  .sign-out {
    top: -20px;
  }

  .playbar {
    bottom: 0px;
    height: 70px;
  }

  .menu {
    width: 100%;
    top: 0px;
    height: calc(100% - 90px);
  }

  .main-menu {
    top: -100px;
  }

  .main-menu > button {
    margin: 3px;
    flex: 1;
  }

  .playbar img {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
  }

  .playbar h1 {
    top: 10px;
    left: 80px;
  }

  .playbar > input {
    width: 100%;
    left: 0;
    height: 20px;
    bottom: 70px;
    margin: 0;
  }

  .song-authors {
    top: 30px;
    left: 80px;
  }

  .controls {
    top: 25px;
  }

  .rewind-backwards {
    font-size: 16px;
    left: calc(100% - 148px);
  }

  .rewind-forewards {
    font-size: 16px;
    left: calc(100% - 102px);
  }

  .toggle-playback {
    font-size: 20px;
    left: calc(100% - 46px);
  }

  .current-time {
    top: calc(100% - 99px);
    left: 10px;
  }

  .duration {
    top: calc(100% - 99px);
    left: calc(100% - 35px);
  }

  .add-playlists {
    top: calc(100% - 50px);
  }

  .my-playlists {
    top: 70px;
    width: 100%;
    height: calc(100% - 275px);
  }

  .my-playlists > button {
    width: calc(100% - 25px);
    height: 50px;
  }

  .add-here {
    right: 10px;
  }

  .content {
    width: 100%;
    top: 60px;
    left: 0;
    height: calc(100% - 130px);
  }

  .playlist-info {
    left: calc(50% - 100px);
    width: 200px;
    top: 250px;
  }

  .front {
    left: calc(50% - 90px);
    top: 35px;
    width: 180px
  }

  .top-bar {
    top: 0;
  }

  .playlist-controls {
    margin-top: 25px;
    margin-left: 45px;
    display: flex;
  }

  .top-bar > button {
    flex-basis: 80px;
    font-size: 18px;
  }

  .top-bar > h1 {
    flex: 1;
  }

  .content > input {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    height: 60px;
    font-size: 17px;
    padding-left: 60px;
  }

  .best-result > div > button {
    left: calc(100% - 70px);
  }
}


.new {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 500px;
}

.new > label {
  position: absolute;
  top: -100px;
}

.new > label > div {
  position: absolute;
  left: 480px;
  top: 442px;
  width: 220px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
}

.cropper {
  position: absolute;
  top: 55px;
  left: 20px;
  width: 320px;
  height: 180px;
  text-align: center;
  padding-top: 140px;
  font-size: 36px;
  background-color: #1c1c1c;
  color: white;
}

.new > input {
  position: absolute;
  top: 200px;
  left: 360px;
  width: calc(100% - 400px);
  height: 100px;
  background-color: transparent;
  font-size: 60px;
  color: white;
  border-bottom: 1px solid silver;
  letter-spacing: 2px;
}

.new > button {
  position: absolute;
  left: 360px;
  top: 336px;
  width: 90px;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #1DB954;
  border-radius: 15px;
  letter-spacing: 2px;
}

.new > p {
  position: absolute;
  top: 260px;
  right: 40px;
  color: #aaa;
  font-size: 12px;
}

.no-results {
  margin-top: 20%;
  text-align: center;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
}

.search-icon {
  position: absolute;
  top: 24px;
  left: 47px;
  color: #777;
}

.swiper-item {
  width: 220px;
  height: 100%;
  background-color: #1b1b1b;
  border-radius: 15px;
}

.swiper-item:hover {
  transition: .3s;
  background-color: #1f1f1f;
}

.swiper-item > img {
  width: 180px;
  margin-top: 20px;
  margin-left: 20px;
}

.swiper-item > h1 {
  margin-top: 12px;
  margin-left: 25px;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: normal;
}

.swiper-item > p {
  margin-top: -6px;
  margin-left: 25px;
  color: #999;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: normal;
}


.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
}

.free {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #151515;
  width: 100%;
  height: 100%;
}

.title {
  position: fixed;
  display: flex;
  flex-direction: column;
  color: white;
  top: 20%;
  left: 5%;
  width: 40%;
  height: 50%;
  animation: startup 1s;
}

.title > h1 {
  font-size: 55px;
  letter-spacing: 1px;
}

.title > p {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 1px;
}

.title > button {
  width: 35%;
  height: 55px;
  margin: 40px 0;
  background-color: #1DB954;
  border: none;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: .5s;
  animation: appearence 2s;
}

.desktop {
  position: fixed;
  bottom: 30vh;
  right: 5vh;
  height: 50vh;
  width: 86vh;
  animation: floating 1s;
  border: 1px solid #555;
}

.mobile {
  position: fixed;
  bottom: 20vh;
  right: 8vh;
  height: 56vh;
  width: 28.5vh;
  animation: floating 1s;
  border: 1px solid #555;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 250px;
  opacity: .8;
}

@media screen and (max-width: 1450px) {
  .desktop, .mobile {
    display: none;
  }

  .title {
    height: 100%;
    text-align: center;
    left: 30%;
    margin-top: 0%;
  }

  .title > button {
    margin: 30px calc(35% - 22px);
  }
}

@media screen and (max-width: 1100px) {
  .particles {
    visibility: hidden;
  }

  .title {
    margin-top: 0%;
    text-align: center;
    height: 100%;
    left: 5%;
    width: 90%;
    margin-top: 5%;
  }

  .title > h1 {
    font-size: 36px;
  }

  .title > p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
  }

  .title > button {
    width: 50%;
    height: 45px;
    margin: 30px 25%;
    background-color: #1DB954;
    border: none;
    outline: none;
    color: white;
    border-radius: 25px;
  }
}


@media screen and (max-width: 950px) {
  .search-icon {
    top: 21px;
    left: 24px;
    width: 16px;
    height: 16px;
  }

  .playlist-info > h1 {
    margin-top: 20px;
    font-size: 30px;
  }

  .playlist-info > h2 {
    font-size: 15px;
  }

  .cropper {
    left: calc(50% - 160px);
  }

  .new {
    height: calc(100% + 120px);
  }

  .new > input {
    top: 380px;
    left: calc(50% - 160px);
    width: 320px;
    height: 70px;
    font-size: 34px;
  }

  .new > button {
    left: 40px;
    top: 540px;
    height: 40px;
    width: calc(100% - 80px);
  }

  .new > label > div {
    left: 45px;
    top: 590px;
    width: calc(100% - 80px);
  }

  .new > p {
    top: 410px;
  }

  .title > img {
    flex-basis: 0%;
  }
}

.fetching {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
}

@keyframes startup {
  0% {
    filter: blur(3px);
  },
  100% {
    filter: blur(0px);
  }
}

@keyframes appearence {
  0% {
    opacity: 0;
  },
  50% {
    opacity: 0;
  },
  100% {
    opacity: 1;
  }
}

@keyframes floating {
  0% {
    opacity: 0;
    bottom: 10vh;
  }
}
